<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>BeerVirus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
</head>
<body>
<div class="center">
<h1>Welcome to the BeerVirus game!</h1>
<h2>Play with your friends during group video calls.</h2>


<h2>Rooms</h2>

<form action="/create_new_room" method="POST" id="create-room">
    <input type="submit" value="Create new room">
</form>

<form action="/join_room" method="POST" id="join-room">
    <p><input type="text" name="room_id"> Room ID</p>
    <input type="submit" value="Join room">
</form>
</div>

<div>
    <p>
        Gameplay:
    </p>
    <p>        
        One player is randomly infected at the beginning of the game and nobody else knows who this is.
    </p>
    <p>        
        The objective of the other players in to identify who patient zero is and to put him into quarantine for two rounds.
    </p>           
        Patient zero's objective is to infect all the other players before he is discovered and cured.
    </p>
    <p>          
        Everybody starts at HOME and each round selects a location where they go and vote for a player to be quarantined. 
        If patient zero or any other player who got infected selects the same location as you, you get infected as well. You don't see who selected which location.
        If you select the HOME location you don't risk getting infected, however, you can only select it after you have been to the location SUPERMARKET.
    </p>
    <p>            
        You have to vote each round who gets put into quarantine for one round. The majority of players need to agree for somebody to be quarantined. Quarantine will cure you, except if you are patient zero, who has to be put there twice.
    </p>
    <p>            
        Communicate through the video chat and try to discover who is lying and is spreading the disease! Don't give all your steps away, otherwise patient zero will know exactly where to go.         
    </p>
    <p> 
        Controlling the game:           
    </p>
    <p> 
        The person who creates the room is the admin. They control when the game starts and click next round once everyone has chosen a location and voted.           
    </p>
</div>

</body>
</html>