<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <script>

        if (!window.location.href.toString().endsWith("?room_id={{ room_id }}&user_name={{your_user.name}}")) {
             window.location.href = window.location.href + "?room_id={{ room_id }}&user_name={{your_user.name}}"
        }
    
        
    
    
        function usersShow() {
          var data = this.responseText;
          document.getElementById("users").innerHTML = data;
          var scripts = document.getElementById("users").getElementsByTagName('script');
            for (var ix = 0; ix < scripts.length; ix++) {
                eval(scripts[ix].text);
            }
        }

        function yourUserShow() {
          var data = this.responseText;
          document.getElementById("user_text").innerHTML = data;
        }

        function locationsShow() {
          var data = this.responseText;
          document.getElementById("chl").innerHTML = data;
          var scripts = document.getElementById("chl").getElementsByTagName('script');
            for (var ix = 0; ix < scripts.length; ix++) {
                eval(scripts[ix].text);
            }
        }
    
        function locationClick(ev) {
            ev.preventDefault();
            var request = new XMLHttpRequest();
            request.addEventListener('load', locationShow);
            request.open('POST', {{ url_for('add_location')|tojson }});
            request.send(JSON.stringify({name:"{{your_user.name}}", location:ev.srcElement.innerText,roomid:"{{room_id}}"}));
        }
    
        function locationShow() {
          var data = this.responseText;
          document.getElementById("user_text").innerHTML = data;
    
        }
    
        function quarantineClick(ev) {
            ev.preventDefault();
            var request = new XMLHttpRequest();
            request.addEventListener('load', quarantineShow);
            request.open('POST', {{ url_for('add_quarantine')|tojson }});
            request.send(JSON.stringify({name:"{{your_user.name}}",roomid:"{{room_id}}",quarantine: ev.srcElement.id.slice(3)}));
        }
    
        function quarantineShow() {
            var data = this.responseText;
            document.getElementById("users").innerHTML = data;
            var scripts = document.getElementById("users").getElementsByTagName('script');
            for (var ix = 0; ix < scripts.length; ix++) {
                eval(scripts[ix].text);
            }
        }

        function resetGame(ev){
            ev.preventDefault();
            var request = new XMLHttpRequest();
            request.open('POST', {{ url_for('reset_game')|tojson }});
            request.send(JSON.stringify({roomid:"{{room_id}}"}));
        }

        function nextGame(ev){
            ev.preventDefault();
            var request = new XMLHttpRequest();
            request.open('POST', {{ url_for('next_game')|tojson }});
            request.send(JSON.stringify({roomid:"{{room_id}}"}));
        }
    </script>
</head>
<body>
    <div class="center">
    <div>
        <a href="{{ url_for('home') }}">Home</a>
    </div>

    <h1>Welcome {{ user_name }} to room {{ room_id }}</h1>

    <div id="user_text">
        {% include 'user.html' %}
    </div>

    <ul id="users">
        {% include 'list_users.html' %}
    </ul>

    <div id="chl">
    {% include 'choose_location.html' %}
    </div>

    <p>
    </p>
    <br>
     
    {% if your_user.admin %}
        {% include 'admin.html' %}
    {% endif %}
</div>
    <script>
        

        window.setInterval(function() {
            var request = new XMLHttpRequest();
            request.addEventListener('load', usersShow);
            request.open('POST', {{ url_for('show_users')|tojson }});
            request.send(JSON.stringify({name:"{{your_user.name}}", roomid:"{{room_id}}"}));

            var request = new XMLHttpRequest();
            request.addEventListener('load', yourUserShow);
            request.open('POST', {{ url_for('show_your_user')|tojson }});
            request.send(JSON.stringify({name:"{{your_user.name}}", roomid:"{{room_id}}"}));

            var request = new XMLHttpRequest();
            request.addEventListener('load', locationsShow);
            request.open('POST', {{ url_for('show_locations')|tojson }});
            request.send(JSON.stringify({name:"{{your_user.name}}", roomid:"{{room_id}}"}));
        }, 1000);

        var reset = document.getElementById('reset')
        reset.addEventListener('click', resetGame);
        var next = document.getElementById('next')
        next.addEventListener('click', nextGame);
    </script>

    <div>
        <p>
            Gameplay:
        </p>
        <p>        
            One player is randomly infected at the beginning of the game and nobody else knows who this is.
        </p>
        <p>        
            The objective of the other players in to identify who patient zero is and to put him into quarantine for two rounds.
        </p>           
            Patient zero's objective is to infect all the other players before he is discovered and cured.
        </p>
        <p>          
            Everybody starts at HOME and each round selects a location where they go. 
            If patient zero or any other player who got infected selects the same location as you, you get infected as well. You don't see who selected which location.
            If you select the HOME location you don't risk getting infected, however, you can only select it after you have been to the location SUPERMARKET.
        </p>
        <p>            
            After a few rounds, you will be able to vote who gets put into quarantine for one round. Quarantine will cure you, except if you are patient zero, who has to be put there twice.
        </p>
        <p>            
            Communicate through the video chat and try to discover who is lying and is spreading the disease! Don't give all your steps away, otherwise patient zero will know exactly where to go.         
        </p>
    </div>
</body>

