<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
</head>
<body>
    <div>
        <a href="{{ url_for('home') }}">Home</a>
    </div>

    <h1>Welcome {{ user_name }} to room {{ room_id }}</h1>

    <div id="user_text">
        {% include 'user.html' %}
    </div>

    <ul id="users">
        {% include 'list_users.html' %}
    </ul>

    {% include 'choose_location.html' %}
</body>
<script>
    function locationClick(ev) {
        ev.preventDefault();
        console.log(ev.srcElement.innerText)
        var request = new XMLHttpRequest();
        request.addEventListener('load', locationShow);
        request.open('POST', {{ url_for('add_location')|tojson }});
        request.send(JSON.stringify({name:"{{your_user.name}}", location:ev.srcElement.innerText,roomid:"{{room_id}}"}));
    }

    function locationShow() {
      var data = this.responseText;
      console.log(data)
      document.getElementById("user_text").innerHTML = data;

    }

    for (i = 0; i < 5; i++) {
        console.log('l' + i.toString())
        var butloc = document.getElementById('l' + i.toString());
        console.log(butloc)
        it = i.valueOf()
        butloc.addEventListener('click', locationClick);
    }
</script>
